input, select{
    display: block;
    margin: 15px auto;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.success{
    color: green;
    display: block;
    margin-bottom: 15px;
}

.error{
    color: tomato;
    display: block;
    margin-bottom: 15px;
}