@import "waterlink";


#content{
  //content always same height as ipad screen
  //overflow content will be hidden
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  position: relative;
}

#content_images{
  padding-top: $xxl;
  padding-bottom: $xxl;

  #img_speelwin{
    height: 350px;
    padding-bottom: $xxl;
  }
  #img_kraantje{
    height: 200px;
  }
}

#content_borders{
  position: absolute;
  bottom: 10px;
  height: 180px;
  width: 100%;

  .content_borders{
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
  }
  .blue{
    background-color: $smurf;
  }
  .orange{
    background-color: $orange;
  }
}