@import "waterlink";

.container{
  display: table;
  width: 100%;
}

.container_cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.container_content{
  margin-left: auto;
  margin-right: auto;
}

//===form styling===

#logo{
  margin-bottom: $xxl;
}

form{
  margin-bottom: $xxl;
}

select,
input[type="text"],
input[type="submit"]{

  //remove first default styling
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid $concrete;
  border-radius: $xs;
  padding: $s;
  margin-bottom: $s;
}

  select:focus,
  input[type="text"]:focus,
  input[type="submit"]:focus{
    outline: none;
  }

  input[type="submit"]{
    color: white;
    background-color: $smurf;
    margin-bottom: $l;
  }

#form_registration_div_conditions{
  margin-bottom: $l;

  input[type="checkbox"],
  label {
    display: inline-block;
  }

  label{
    margin-left: $s;
  }
}

#form_unsynced{
  border-top: 1px solid $concrete;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: $m;
}

h2{
  font-size: inherit;
}

a{
  color: $night;
}

ul{
  list-style: none;
  padding-left: 0;
  display: none;
}